body {
/*    margin:0px;
    padding:0px;
    box-sizing:border-box;*/
}
h2 {
    color: steelblue;
    font-weight: bolder;
    display:block;
}
form {
    margin-top: 10px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
td,th{
     padding:10px 20px;
}

.btn {
    margin-left: 14px;
    background-color: brown;
    color: wheat;
    border-radius: 10px;
    margin-top: 10px;
    width: 100px;
}
.btn:hover{
    color:brown;
    background-color:wheat;
}
a h4{
    color:aquamarine;
    text-decoration:none;
}
a h4:hover {
    color: red;
    text-decoration: underline;
}