
@{
    ViewBag.Title = "create";
}
<link rel="stylesheet" href="~/Content/index.css">
<form action="SaveData">
    <label class="col-md-2">Title</label>
    <div class="col-md-4">
        <input type="text" name="title" class="form-control" required>
    </div>
    <label class="col-md-2">Author</label>
    <div class="col-md-4">
        <input type="text" name="author" class="form-control" required>
    </div>
    <button class="btn">Add record</button>
</form>

